body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: var(--scrolling-bg-image);
    animation: background-scroll 25s linear infinite;
    animation-duration: 50s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  /* Set x -y coordinate.  Negative value reverses animation */
  
  @keyframes background-scroll {
    from {
      background-position-y: 500%;
    }
  }
  
  h1 {
    color: white;
   font-weight: 600;
    font-size: 4vw;
    opacity: 0.85;
    text-align: center;
    letter-spacing: 3px;
     text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
      0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
      0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
      0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
      0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
      0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
      0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
  }
  