* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: black;
  /* background-image: -webkit-linear-gradient(-225deg, #551272 5%, black); */
  /* background-image: linear-gradient(-45deg,#440e5b 5%, black); */
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.recipeCard {
  background: #fff;
  margin: 4em auto;
  width: 90%;
  max-width: 496px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.recipeCard aside {
  position: relative;
}
.recipeCard aside img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.recipeCard aside .button {
  background: black;
  display: inline-block;
  position: absolute;
  top: 80%;
  right: 3%;
  width: 4.0625em;
  height: 4.0625em;
  border-radius: 4.0625em;
  line-height: 4.0625em;
  text-align: center;
}
.recipeCard aside .button .icon {
  vertical-align: middle;
}
.recipeCard article {
  padding: 1.25em 1.5em;
  background-color: #61177e;
}
.recipeCard article ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0;
}
.recipeCard article ul li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}
.recipeCard article ul li:first-child {
  margin-left: 0;
}
.recipeCard article ul li .icon {
  vertical-align: bottom;
}
.recipeCard article ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 1em;
  font-weight: 300;
  vertical-align: middle;
  color: #fff;
}
.recipeCard article h2,
.recipeCard article h3 {
  margin: 0;
  font-weight: 300;
}
.recipeCard article h2 {
  font-size: 3em;
  color: #fff;
}
.recipeCard article h3 {
  font-size: 1.2em;
  color: #fff;
}
.recipeCard article p {
  margin: 2em;
  
  font-size: 0.8125em;
  font-weight: 400;
  color: #fff;
}
#note{
  font-style: italic;
}
.recipeCard article span {
  font-weight: 2.5em;
  font-size: 20px;
  color: #fff;
}
.recipeCard article .ingredients {
  margin: 2em 0 0.5em;
}
.recipeCard .icon {
  display: inline;
  display: inline-block;
  /* background-image: url(${process.env.PUBLIC_URL}/images/clock-light.png); */
  background-repeat: no-repeat;
}
.recipeCard .icon-calories,
.recipeCard .icon-calories\:regular {
  background-position: 0 0;
  width: 16px;
  height: 19px;
}
.recipeCard .icon-clock,
.recipeCard .icon-clock\:regular {
  background-position: 0 -19px;
  width: 20px;
  height: 20px;
}
.recipeCard .icon-level,
.recipeCard .icon-level\:regular {
  background-position: 0 -39px;
  width: 16px;
  height: 19px;
}
.Ouricon{
  width: 20px;
}
.recipeCard .icon-play,
.recipeCard .icon-play\:regular {
  background-position: 0 -58px;
  width: 21px;
  /* height: 26px; */
}
.recipeCard .icon-users,
.recipeCard .icon-users\:regular {
  background-position: 0 -84px;
  width: 18px;
  height: 18px;
}
#popup{
  width: 500px;
  height: 400px;
  background-color: black;
  color: #fff;
}
.p1{
  font-size: 10px;
}
#popup{
  max-height:   500px;
}